@using ExaminationSystem.WebUI.HtmlHelpers
@using ExaminationSystem.WebUI.ViewModels
@model ExamSetViewModel


<div>
    @{
        int i;
        int j;
        int n;
        AjaxOptions ajaxOptions = new AjaxOptions()
        {
            LoadingElementId = "loading-indicator",
            UpdateTargetId = "content",
            Url = Url.Action("ThemeExamResult", "Exam")
        };
    }
    @using (Ajax.BeginForm(ajaxOptions))
    {
        <div id="theme-timer-finish">

            <div>
                <h4>@Model.Theme.Name</h4>
            </div>

            <div class="timer">
                <span id="timer">12:45</span>
            </div>

            <div>
                <input id="submit-btn" class="btn-simple" type="submit" value="Finish"/>
            </div>

        </div>

        <div id="timerbar" class="progress">
            <div id="timer-progress" class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                <span class="sr-only">40% Complete (success)</span>
            </div>
        </div>

        <input type="hidden" value="@Model.Theme.Name" name="themeName"/>
        for (i = 0, n = 1; i < Model.Questions.Count; i++, n = i + 1)
        {
            <div id="q-@n">
                <p>@Model.Questions[i].Text</p>
                <ul>
                    @for (j = 0; j < Model.Questions[i].Answers.Count; j++)
                    {
                        <li>
                            <input id="check-@i-@j"
                                   type="checkbox"
                                   name="selectedAnswers"
                                   value="@Model.Questions[i].Answers[j].Id"/>
                            <label for="check-@i-@j">
                                @Model.Questions[i].Answers[j].Text
                            </label>
                        </li>
                    }
                </ul>

            </div>
        }
    }

</div>

<script>
    document.title += " - Exam";
    document.getElementById("content-title").innerHTML += " - Exam";
    document.getElementById("timer-progress").style.transition = "width 1s linear 0s";
    styleCheckboxes();
    
    var Timer = function(sec, timerId, progressId, funcTimeIsUp) {
        this.total = sec;
        this.reminder = sec;
        this.percent = 0;
        this.onTimeIsUp = funcTimeIsUp;
        var that = this;
        this.start = function() {
            document.getElementById(timerId).innerHTML = formatTime(that.reminder);
            that.percent = (1 - that.reminder / that.total) * 100;
            document.getElementById(progressId).style.width = that.percent + "%";
            if (that.reminder === 0) {
                that.onTimeIsUp();
                return;
            }
            if (that.percent > 75) {
                twinkleRed(progressId);
            }
            setTimeout(function() {
                that.reminder--;
                that.start();
            }, 1000);
        }
        function formatTime(timeSec) {
            var h = Math.floor(timeSec / 3600);
            var m = Math.floor((timeSec - h * 3600) / 60);
            var s = timeSec - m * 60 - h * 3600;
            h = (h < 10) ? ("0" + h) : h;
            m = (m < 10) ? ("0" + m) : m;
            s = (s < 10) ? ("0" + s) : s;
            return h + ":" + m + ":" + s;
        }
        function twinkleRed(id) {
            var element = document.getElementById(id);
            var baseColor = element.style.backgroundColor;
            element.style.backgroundColor = "#e64c65";
            setTimeout(function () { element.style.backgroundColor = baseColor; }, 500);
        }
    }

    function addHiddenInput(name, value) {
        var input = document.createElement("input");
        input.type = "hidden";
        input.value = value;
        input.name = name;
        document.forms["form0"].appendChild(input);
    }

    function customAjaxSubmit() {
        addHiddenInput("timerReminder", window.timer.current);
        document.getElementById("submit-btn").click();
    }

    var timer = new Timer(parseInt(@Model.Theme.Time), "timer", "timer-progress", customAjaxSubmit);
    timer.start();

</script>
